{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/syntax-dynamic-import",
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "test": "./test"
                }
            }
        ]
    ]
}
