html {
    height: 100%;
}
body {
    font-family: "Roboto Slab", serif;
    background-color: #f7f7e6;
    background: linear-gradient(135deg, #d8f74555 30%, transparent 30%) -10px 0/ 20px 20px,
        linear-gradient(225deg, #d8f745 30%, transparent 30%) -10px 0/ 20px 20px,
        linear-gradient(315deg, #d8f74555 30%, transparent 30%) 0px 0/ 20px 20px,
        linear-gradient(45deg, #d8f745 30%, #f7f7e6 30%) 0px 0/ 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

main {
    text-align: center;
    color: blueviolet
}

h1 {
    font-size: 3em;
}

p {
    font-size: 2em;
}